.global_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #efefef;
    padding: 16px;
    text-align: center;
}

.ant-pro-layout .ant-pro-layout-content {
    padding-bottom: 96px !important;
}