$bg_inherit: inherit;
$bg_current: current;
$bg_transparent: transparent;
$bg_black: rgb(0 0 0);
$bg_white: rgb(255 255 255);

$bg_slate_50: rgb(248 250 252);
$bg_slate_100: rgb(241 245 249);
$bg_slate_200: rgb(226 232 240);
$bg_slate_300: rgb(203 213 225);
$bg_slate_400: rgb(148 163 184);
$bg_slate_500: rgb(100 116 139);
$bg_slate_600: rgb(71 85 105);
$bg_slate_700: rgb(51 65 85);
$bg_slate_800: rgb(30 41 59);
$bg_slate_900: rgb(15 23 42);
$bg_slate_950: rgb(2 6 23);


$bg_gray_50: rgb(249 250 251);
$bg_gray_100: rgb(243 244 246);
$bg_gray_200: rgb(229 231 235);
$bg_gray_300: rgb(209 213 219);
$bg_gray_400: rgb(156 163 175);
$bg_gray_500: rgb(107 114 128);
$bg_gray_600: rgb(75 85 99);
$bg_gray_700: rgb(55 65 81);
$bg_gray_800: rgb(31 41 55);
$bg_gray_900: rgb(17 24 39);
$bg_gray_950: rgb(3 7 18);


$bg_zinc_50: rgb(250 250 250);
$bg_zinc_100: rgb(244 244 245);
$bg_zinc_200: rgb(228 228 231);
$bg_zinc_300: rgb(212 212 216);
$bg_zinc_400: rgb(161 161 170);
$bg_zinc_500: rgb(113 113 122);
$bg_zinc_600: rgb(82 82 91);
$bg_zinc_700: rgb(63 63 70);
$bg_zinc_800: rgb(39 39 42);
$bg_zinc_900: rgb(24 24 27);
$bg_zinc_950: rgb(9 9 11);


$bg_neutral_50: rgb(250 250 250);
$bg_neutral_100: rgb(245 245 245);
$bg_neutral_200: rgb(229 229 229);
$bg_neutral_300: rgb(212 212 212);
$bg_neutral_400: rgb(163 163 163);
$bg_neutral_500: rgb(115 115 115);
$bg_neutral_600: rgb(82 82 82);
$bg_neutral_700: rgb(64 64 64);
$bg_neutral_800: rgb(38 38 38);
$bg_neutral_900: rgb(23 23 23);
$bg_neutral_950: rgb(10 10 10);


$bg_stone_50: rgb(250 250 249);
$bg_stone_100: rgb(245 245 244);
$bg_stone_200: rgb(231 229 228);
$bg_stone_300: rgb(214 211 209);
$bg_stone_400: rgb(168 162 158);
$bg_stone_500: rgb(120 113 108);
$bg_stone_600: rgb(87 83 78);
$bg_stone_700: rgb(68 64 60);
$bg_stone_800: rgb(41 37 36);
$bg_stone_900: rgb(28 25 23);
$bg_stone_950: rgb(12 10 9);


$bg_red_50: rgb(254 242 242);
$bg_red_100: rgb(254 226 226);
$bg_red_200: rgb(254 202 202);
$bg_red_300: rgb(252 165 165);
$bg_red_400: rgb(248 113 113);
$bg_red_500: rgb(239 68 68);
$bg_red_600: rgb(220 38 38);
$bg_red_700: rgb(185 28 28);
$bg_red_800: rgb(153 27 27);
$bg_red_900: rgb(127 29 29);
$bg_red_950: rgb(69 10 10);


$bg_orange_50: rgb(255 247 237);
$bg_orange_100: rgb(255 237 213);
$bg_orange_200: rgb(254 215 170);
$bg_orange_300: rgb(253 186 116);
$bg_orange_400: rgb(251 146 60);
$bg_orange_500: rgb(249 115 22);
$bg_orange_600: rgb(234 88 12);
$bg_orange_700: rgb(194 65 12);
$bg_orange_800: rgb(154 52 18);
$bg_orange_900: rgb(124 45 18);
$bg_orange_950: rgb(67 20 7);


$bg_amber_50: rgb(255 251 235);
$bg_amber_100: rgb(254 243 199);
$bg_amber_200: rgb(253 230 138);
$bg_amber_300: rgb(252 211 77);
$bg_amber_400: rgb(251 191 36);
$bg_amber_500: rgb(245 158 11);
$bg_amber_600: rgb(217 119 6);
$bg_amber_700: rgb(180 83 9);
$bg_amber_800: rgb(146 64 14);
$bg_amber_900: rgb(120 53 15);
$bg_amber_950: rgb(69 26 3);


$bg_yellow_50: rgb(254 252 232);
$bg_yellow_100: rgb(254 249 195);
$bg_yellow_200: rgb(254 240 138);
$bg_yellow_300: rgb(253 224 71);
$bg_yellow_400: rgb(250 204 21);
$bg_yellow_500: rgb(234 179 8);
$bg_yellow_600: rgb(202 138 4);
$bg_yellow_700: rgb(161 98 7);
$bg_yellow_800: rgb(133 77 14);
$bg_yellow_900: rgb(113 63 18);
$bg_yellow_950: rgb(66 32 6);


$bg_lime_50: rgb(247 254 231);
$bg_lime_100: rgb(236 252 203);
$bg_lime_200: rgb(217 249 157);
$bg_lime_300: rgb(190 242 100);
$bg_lime_400: rgb(163 230 53);
$bg_lime_500: rgb(132 204 22);
$bg_lime_600: rgb(101 163 13);
$bg_lime_700: rgb(77 124 15);
$bg_lime_800: rgb(63 98 18);
$bg_lime_900: rgb(54 83 20);
$bg_lime_950: rgb(26 46 5);


$bg_green_50: rgb(240 253 244);
$bg_green_100: rgb(220 252 231);
$bg_green_200: rgb(187 247 208);
$bg_green_300: rgb(134 239 172);
$bg_green_400: rgb(74 222 128);
$bg_green_500: rgb(34 197 94);
$bg_green_600: rgb(22 163 74);
$bg_green_700: rgb(21 128 61);
$bg_green_800: rgb(22 101 52);
$bg_green_900: rgb(20 83 45);
$bg_green_950: rgb(5 46 22);


$bg_emerald_50: rgb(236 253 245);
$bg_emerald_100: rgb(209 250 229);
$bg_emerald_200: rgb(167 243 208);
$bg_emerald_300: rgb(110 231 183);
$bg_emerald_400: rgb(52 211 153);
$bg_emerald_500: rgb(16 185 129);
$bg_emerald_600: rgb(5 150 105);
$bg_emerald_700: rgb(4 120 87);
$bg_emerald_800: rgb(6 95 70);
$bg_emerald_900: rgb(6 78 59);
$bg_emerald_950: rgb(2 44 34);


$bg_teal_50: rgb(240 253 250);
$bg_teal_100: rgb(204 251 241);
$bg_teal_200: rgb(153 246 228);
$bg_teal_300: rgb(94 234 212);
$bg_teal_400: rgb(45 212 191);
$bg_teal_500: rgb(20 184 166);
$bg_teal_600: rgb(13 148 136);
$bg_teal_700: rgb(15 118 110);
$bg_teal_800: rgb(17 94 89);
$bg_teal_900: rgb(19 78 74);
$bg_teal_950: rgb(4 47 46);


$bg_cyan_50: rgb(236 254 255);
$bg_cyan_100: rgb(207 250 254);
$bg_cyan_200: rgb(165 243 252);
$bg_cyan_300: rgb(103 232 249);
$bg_cyan_400: rgb(34 211 238);
$bg_cyan_500: rgb(6 182 212);
$bg_cyan_600: rgb(8 145 178);
$bg_cyan_700: rgb(14 116 144);
$bg_cyan_800: rgb(21 94 117);
$bg_cyan_900: rgb(22 78 99);
$bg_cyan_950: rgb(8 51 68);


$bg_sky_50: rgb(240 249 255);
$bg_sky_100: rgb(224 242 254);
$bg_sky_200: rgb(186 230 253);
$bg_sky_300: rgb(125 211 252);
$bg_sky_400: rgb(56 189 248);
$bg_sky_500: rgb(14 165 233);
$bg_sky_600: rgb(2 132 199);
$bg_sky_700: rgb(3 105 161);
$bg_sky_800: rgb(7 89 133);
$bg_sky_900: rgb(12 74 110);
$bg_sky_950: rgb(8 47 73);


$bg_blue_50: rgb(239 246 255);
$bg_blue_100: rgb(219 234 254);
$bg_blue_200: rgb(191 219 254);
$bg_blue_300: rgb(147 197 253);
$bg_blue_400: rgb(96 165 250);
$bg_blue_500: rgb(59 130 246);
$bg_blue_600: rgb(37 99 235);
$bg_blue_700: rgb(29 78 216);
$bg_blue_800: rgb(30 64 175);
$bg_blue_900: rgb(30 58 138);
$bg_blue_950: rgb(23 37 84);


$bg_indigo_50: rgb(238 242 255);
$bg_indigo_100: rgb(224 231 255);
$bg_indigo_200: rgb(199 210 254);
$bg_indigo_300: rgb(165 180 252);
$bg_indigo_400: rgb(129 140 248);
$bg_indigo_500: rgb(99 102 241);
$bg_indigo_600: rgb(79 70 229);
$bg_indigo_700: rgb(67 56 202);
$bg_indigo_800: rgb(55 48 163);
$bg_indigo_900: rgb(49 46 129);
$bg_indigo_950: rgb(30 27 75);


$bg_violet_50: rgb(245 243 255);
$bg_violet_100: rgb(237 233 254);
$bg_violet_200: rgb(221 214 254);
$bg_violet_300: rgb(196 181 253);
$bg_violet_400: rgb(167 139 250);
$bg_violet_500: rgb(139 92 246);
$bg_violet_600: rgb(124 58 237);
$bg_violet_700: rgb(109 40 217);
$bg_violet_800: rgb(91 33 182);
$bg_violet_900: rgb(76 29 149);
$bg_violet_950: rgb(46 16 101);


$bg_purple_50: rgb(250 245 255);
$bg_purple_100: rgb(243 232 255);
$bg_purple_200: rgb(233 213 255);
$bg_purple_300: rgb(216 180 254);
$bg_purple_400: rgb(192 132 252);
$bg_purple_500: rgb(168 85 247);
$bg_purple_600: rgb(147 51 234);
$bg_purple_700: rgb(126 34 206);
$bg_purple_800: rgb(107 33 168);
$bg_purple_900: rgb(88 28 135);
$bg_purple_950: rgb(59 7 100);


$bg_fuchsia_50: rgb(253 244 255);
$bg_fuchsia_100: rgb(250 232 255);
$bg_fuchsia_200: rgb(245 208 254);
$bg_fuchsia_300: rgb(240 171 252);
$bg_fuchsia_400: rgb(232 121 249);
$bg_fuchsia_500: rgb(217 70 239);
$bg_fuchsia_600: rgb(192 38 211);
$bg_fuchsia_700: rgb(162 28 175);
$bg_fuchsia_800: rgb(134 25 143);
$bg_fuchsia_900: rgb(112 26 117);
$bg_fuchsia_950: rgb(74 4 78);


$bg_pink_50: rgb(253 242 248);
$bg_pink_100: rgb(252 231 243);
$bg_pink_200: rgb(251 207 232);
$bg_pink_300: rgb(249 168 212);
$bg_pink_400: rgb(244 114 182);
$bg_pink_500: rgb(236 72 153);
$bg_pink_600: rgb(219 39 119);
$bg_pink_700: rgb(190 24 93);
$bg_pink_800: rgb(157 23 77);
$bg_pink_900: rgb(131 24 67);
$bg_pink_950: rgb(80 7 36);


$bg_rose_50: rgb(255 241 242);
$bg_rose_100: rgb(255 228 230);
$bg_rose_200: rgb(254 205 211);
$bg_rose_300: rgb(253 164 175);
$bg_rose_400: rgb(251 113 133);
$bg_rose_500: rgb(244 63 94);
$bg_rose_600: rgb(225 29 72);
$bg_rose_700: rgb(190 18 60);
$bg_rose_800: rgb(159 18 57);
$bg_rose_900: rgb(136 19 55);
$bg_rose_950: rgb(76 5 25);

/* text */
$text_inherit: inherit;
$text_current: current;
$text_transparent: transparent;
$text_black: rgb(0 0 0);
$text_white: rgb(255 255 255);

/* $text_slate */
$text_slate_50: rgb(248 250 252);
$text_slate_100: rgb(241 245 249);
$text_slate_200: rgb(226 232 240);
$text_slate_300: rgb(203 213 225);
$text_slate_400: rgb(148 163 184);
$text_slate_500: rgb(100 116 139);
$text_slate_600: rgb(71 85 105);
$text_slate_700: rgb(51 65 85);
$text_slate_800: rgb(30 41 59);
$text_slate_900: rgb(15 23 42);
$text_slate_950: rgb(2 6 23);

$text_gray_50: rgb(249 250 251);
$text_gray_100: rgb(243 244 246);
$text_gray_200: rgb(229 231 235);
$text_gray_300: rgb(209 213 219);
$text_gray_400: rgb(156 163 175);
$text_gray_500: rgb(107 114 128);
$text_gray_600: rgb(75 85 99);
$text_gray_700: rgb(55 65 81);
$text_gray_800: rgb(31 41 55);
$text_gray_900: rgb(17 24 39);
$text_gray_950: rgb(3 7 18);


$text_zinc_50: rgb(250 250 250);
$text_zinc_100: rgb(244 244 245);
$text_zinc_200: rgb(228 228 231);
$text_zinc_300: rgb(212 212 216);
$text_zinc_400: rgb(161 161 170);
$text_zinc_500: rgb(113 113 122);
$text_zinc_600: rgb(82 82 91);
$text_zinc_700: rgb(63 63 70);
$text_zinc_800: rgb(39 39 42);
$text_zinc_900: rgb(24 24 27);
$text_zinc_950: rgb(9 9 11);


$text_neutral_50: rgb(250 250 250);
$text_neutral_100: rgb(245 245 245);
$text_neutral_200: rgb(229 229 229);
$text_neutral_300: rgb(212 212 212);
$text_neutral_400: rgb(163 163 163);
$text_neutral_500: rgb(115 115 115);
$text_neutral_600: rgb(82 82 82);
$text_neutral_700: rgb(64 64 64);
$text_neutral_800: rgb(38 38 38);
$text_neutral_900: rgb(23 23 23);
$text_neutral_950: rgb(10 10 10);


$text_stone_50: rgb(250 250 249);
$text_stone_100: rgb(245 245 244);
$text_stone_200: rgb(231 229 228);
$text_stone_300: rgb(214 211 209);
$text_stone_400: rgb(168 162 158);
$text_stone_500: rgb(120 113 108);
$text_stone_600: rgb(87 83 78);
$text_stone_700: rgb(68 64 60);
$text_stone_800: rgb(41 37 36);
$text_stone_900: rgb(28 25 23);
$text_stone_950: rgb(12 10 9);


$text_red_50: rgb(254 242 242);
$text_red_100: rgb(254 226 226);
$text_red_200: rgb(254 202 202);
$text_red_300: rgb(252 165 165);
$text_red_400: rgb(248 113 113);
$text_red_500: rgb(239 68 68);
$text_red_600: rgb(220 38 38);
$text_red_700: rgb(185 28 28);
$text_red_800: rgb(153 27 27);
$text_red_900: rgb(127 29 29);
$text_red_950: rgb(69 10 10);


$text_orange_50: rgb(255 247 237);
$text_orange_100: rgb(255 237 213);
$text_orange_200: rgb(254 215 170);
$text_orange_300: rgb(253 186 116);
$text_orange_400: rgb(251 146 60);
$text_orange_500: rgb(249 115 22);
$text_orange_600: rgb(234 88 12);
$text_orange_700: rgb(194 65 12);
$text_orange_800: rgb(154 52 18);
$text_orange_900: rgb(124 45 18);
$text_orange_950: rgb(67 20 7);


$text_amber_50: rgb(255 251 235);
$text_amber_100: rgb(254 243 199);
$text_amber_200: rgb(253 230 138);
$text_amber_300: rgb(252 211 77);
$text_amber_400: rgb(251 191 36);
$text_amber_500: rgb(245 158 11);
$text_amber_600: rgb(217 119 6);
$text_amber_700: rgb(180 83 9);
$text_amber_800: rgb(146 64 14);
$text_amber_900: rgb(120 53 15);
$text_amber_950: rgb(69 26 3);


$text_yellow_50: rgb(254 252 232);
$text_yellow_100: rgb(254 249 195);
$text_yellow_200: rgb(254 240 138);
$text_yellow_300: rgb(253 224 71);
$text_yellow_400: rgb(250 204 21);
$text_yellow_500: rgb(234 179 8);
$text_yellow_600: rgb(202 138 4);
$text_yellow_700: rgb(161 98 7);
$text_yellow_800: rgb(133 77 14);
$text_yellow_900: rgb(113 63 18);
$text_yellow_950: rgb(66 32 6);


$text_lime_50: rgb(247 254 231);
$text_lime_100: rgb(236 252 203);
$text_lime_200: rgb(217 249 157);
$text_lime_300: rgb(190 242 100);
$text_lime_400: rgb(163 230 53);
$text_lime_500: rgb(132 204 22);
$text_lime_600: rgb(101 163 13);
$text_lime_700: rgb(77 124 15);
$text_lime_800: rgb(63 98 18);
$text_lime_900: rgb(54 83 20);
$text_lime_950: rgb(26 46 5);


$text_green_50: rgb(240 253 244);
$text_green_100: rgb(220 252 231);
$text_green_200: rgb(187 247 208);
$text_green_300: rgb(134 239 172);
$text_green_400: rgb(74 222 128);
$text_green_500: rgb(34 197 94);
$text_green_600: rgb(22 163 74);
$text_green_700: rgb(21 128 61);
$text_green_800: rgb(22 101 52);
$text_green_900: rgb(20 83 45);
$text_green_950: rgb(5 46 22);


$text_emerald_50: rgb(236 253 245);
$text_emerald_100: rgb(209 250 229);
$text_emerald_200: rgb(167 243 208);
$text_emerald_300: rgb(110 231 183);
$text_emerald_400: rgb(52 211 153);
$text_emerald_500: rgb(16 185 129);
$text_emerald_600: rgb(5 150 105);
$text_emerald_700: rgb(4 120 87);
$text_emerald_800: rgb(6 95 70);
$text_emerald_900: rgb(6 78 59);
$text_emerald_950: rgb(2 44 34);


$text_teal_50: rgb(240 253 250);
$text_teal_100: rgb(204 251 241);
$text_teal_200: rgb(153 246 228);
$text_teal_300: rgb(94 234 212);
$text_teal_400: rgb(45 212 191);
$text_teal_500: rgb(20 184 166);
$text_teal_600: rgb(13 148 136);
$text_teal_700: rgb(15 118 110);
$text_teal_800: rgb(17 94 89);
$text_teal_900: rgb(19 78 74);
$text_teal_950: rgb(4 47 46);


$text_cyan_50: rgb(236 254 255);
$text_cyan_100: rgb(207 250 254);
$text_cyan_200: rgb(165 243 252);
$text_cyan_300: rgb(103 232 249);
$text_cyan_400: rgb(34 211 238);
$text_cyan_500: rgb(6 182 212);
$text_cyan_600: rgb(8 145 178);
$text_cyan_700: rgb(14 116 144);
$text_cyan_800: rgb(21 94 117);
$text_cyan_900: rgb(22 78 99);
$text_cyan_950: rgb(8 51 68);


$text_sky_50: rgb(240 249 255);
$text_sky_100: rgb(224 242 254);
$text_sky_200: rgb(186 230 253);
$text_sky_300: rgb(125 211 252);
$text_sky_400: rgb(56 189 248);
$text_sky_500: rgb(14 165 233);
$text_sky_600: rgb(2 132 199);
$text_sky_700: rgb(3 105 161);
$text_sky_800: rgb(7 89 133);
$text_sky_900: rgb(12 74 110);
$text_sky_950: rgb(8 47 73);


$text_blue_50: rgb(239 246 255);
$text_blue_100: rgb(219 234 254);
$text_blue_200: rgb(191 219 254);
$text_blue_300: rgb(147 197 253);
$text_blue_400: rgb(96 165 250);
$text_blue_500: rgb(59 130 246);
$text_blue_600: rgb(37 99 235);
$text_blue_700: rgb(29 78 216);
$text_blue_800: rgb(30 64 175);
$text_blue_900: rgb(30 58 138);
$text_blue_950: rgb(23 37 84);


$text_indigo_50: rgb(238 242 255);
$text_indigo_100: rgb(224 231 255);
$text_indigo_200: rgb(199 210 254);
$text_indigo_300: rgb(165 180 252);
$text_indigo_400: rgb(129 140 248);
$text_indigo_500: rgb(99 102 241);
$text_indigo_600: rgb(79 70 229);
$text_indigo_700: rgb(67 56 202);
$text_indigo_800: rgb(55 48 163);
$text_indigo_900: rgb(49 46 129);
$text_indigo_950: rgb(30 27 75);


$text_violet_50: rgb(245 243 255);
$text_violet_100: rgb(237 233 254);
$text_violet_200: rgb(221 214 254);
$text_violet_300: rgb(196 181 253);
$text_violet_400: rgb(167 139 250);
$text_violet_500: rgb(139 92 246);
$text_violet_600: rgb(124 58 237);
$text_violet_700: rgb(109 40 217);
$text_violet_800: rgb(91 33 182);
$text_violet_900: rgb(76 29 149);
$text_violet_950: rgb(46 16 101);


$text_purple_50: rgb(250 245 255);
$text_purple_100: rgb(243 232 255);
$text_purple_200: rgb(233 213 255);
$text_purple_300: rgb(216 180 254);
$text_purple_400: rgb(192 132 252);
$text_purple_500: rgb(168 85 247);
$text_purple_600: rgb(147 51 234);
$text_purple_700: rgb(126 34 206);
$text_purple_800: rgb(107 33 168);
$text_purple_900: rgb(88 28 135);
$text_purple_950: rgb(59 7 100);


$text_fuchsia_50: rgb(253 244 255);
$text_fuchsia_100: rgb(250 232 255);
$text_fuchsia_200: rgb(245 208 254);
$text_fuchsia_300: rgb(240 171 252);
$text_fuchsia_400: rgb(232 121 249);
$text_fuchsia_500: rgb(217 70 239);
$text_fuchsia_600: rgb(192 38 211);
$text_fuchsia_700: rgb(162 28 175);
$text_fuchsia_800: rgb(134 25 143);
$text_fuchsia_900: rgb(112 26 117);
$text_fuchsia_950: rgb(74 4 78);


$text_pink_50: rgb(253 242 248);
$text_pink_100: rgb(252 231 243);
$text_pink_200: rgb(251 207 232);
$text_pink_300: rgb(249 168 212);
$text_pink_400: rgb(244 114 182);
$text_pink_500: rgb(236 72 153);
$text_pink_600: rgb(219 39 119);
$text_pink_700: rgb(190 24 93);
$text_pink_800: rgb(157 23 77);
$text_pink_900: rgb(131 24 67);
$text_pink_950: rgb(80 7 36);


$text_rose_50: rgb(255 241 242);
$text_rose_100: rgb(255 228 230);
$text_rose_200: rgb(254 205 211);
$text_rose_300: rgb(253 164 175);
$text_rose_400: rgb(251 113 133);
$text_rose_500: rgb(244 63 94);
$text_rose_600: rgb(225 29 72);
$text_rose_700: rgb(190 18 60);
$text_rose_800: rgb(159 18 57);
$text_rose_900: rgb(136 19 55);
$text_rose_950: rgb(76 5 25);